apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: primrose-data
  namespace: ${K8S_NAMESPACE}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: ${PVC_SIZE}
