networkx==3.6.1
langchain_openai==1.4.1
langchain_community==0.4.2
langchain_huggingface==1.2.2
langchain_neo4j==0.10.0
pyvis==0.3.2
jupyterlab==4.6.2
ipykernel==7.3.0
spacy==3.8.14
rapidfuzz==3.14.5
pandas==3.0.5
click==8.4.2
faiss-cpu==1.14.3
neo4j==6.2.0
sentence-transformers==5.6.1
plotly==6.9.0
dash==4.4.1
PyMuPDF==1.28.0
langextract==1.6.0